<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FI.ControlM.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DirArquivosLocal" value="C:\WINFUN\ARQUIVOS\"/>
    <add key="DirExeLC_NET" value="C:\WINFUN\Santander\BIN\LINHADECOMANDO\"/>
    <add key="DirExeLC_Delphi" value="C:\WINFUN\Santander\BIN\LINHADECOMANDO\"/>
    <add key="DIRSERVER1" value="\\SRVCSGPAWBR06\APPL\SHARE\CSG\"/>
    <add key="DIRSERVER2" value="\\SRVCSGPAWBR06\CSG\"/>
    <add key="DIRSERVER3" value="D:\APPL\SHARE\CSG\"/>
    <add key="DIRSERVER4" value="G:\APPL\SHARE\CSG\"/>
    <add key="DIRSERVER5" value="\\DBCSGHAWBR04\APPL\SHARE\CSG\"/>
    <add key="DIRSERVER6" value="\\DBCSGHAWBR04\CSG\"/>
  </appSettings>
  
</configuration>